@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --border-radius: 3.5rem;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

a {
    text-decoration: none !important;
}

.top-80 {
    top: 80%!important;
}

.rounded-custom {
    border-radius: var(--border-radius) !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-3 {
    flex: 3 !important;
}

.ps-4-5 {
    padding-left: 2.5rem !important;
}

.menu {
}

.menu.false {
    display: none;
}

.menu.true {
    display: block;
}


.btn-black {
    background: black !important;
    border-radius: var(--border-radius) !important;
    color: white !important;
    transition: ease 0.15s !important;
    border: 1px solid transparent !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.btn-black:hover, button.btn.btn-black.active {
    background: transparent !important;
    color: black !important;
    border: 1px solid black !important;
}

.navbar a {
    text-decoration: none !important;
}

.logoIcon a {
    color: black;
}

.logoIcon {
    width: 33%;
    margin-right: 0 !important;
}

.fw-700 {
    font-weight: 700;
}

.right-0 {
    right: 0 !important;
}

.navbarSpacer {
    margin-top: 7.5rem !important;
}

.mt-10 {
    margin-top: 10rem !important;
}

.btn-like, .btn-share {
    outline: none !important;
    border: none !important;
    background: rgba(0,0,0,0.05) !important;
    color: lightgray !important;
    font-size: 1.25rem !important;
    border-radius: var(--border-radius) !important;
}

.btn-share:hover, .btn-like:hover {
    background: rgba(0,0,0,0.05) !important;
}

.btn-like:hover {
    color: #fc5353 !important;
}

.btn-share:hover {
    color: black !important;
}

button.btn-like.true {
    color: #fc5353 !important;
}

button.btn-like.false {
    /*color: lightgray !important;*/
}


.recipeCard {
    outline: none !important;
    border: none !important;
    transition: box-shadow ease 0.15s;
}

.recipeCard:hover {
    cursor: pointer;
}

.recipeCard .card-footer {
    background: none !important;
    border: none !important;
}

.cardImage {
    margin: auto;
    height: 12.5rem;
    width: 100%;
}

.cardImage img {
    border-radius: 1rem;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-title, .h5 {
    font-size: 1rem !important;
    font-weight: 500 !important;
}

.dashboard-card.card-group > .card {
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1.75rem !important;
}

.dashboard-card.card-group .card .card-footer {
    background: none !important;
    border-top: none !important;
}

.dashboard-card .card {
    transition: box-shadow ease 0.3s;
}

.dashboard-card .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px;
}

.stats-table tbody tr td {
    width: 50% !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 2rem;
}


.left-50 {
    left: 50%!important;
}

.right-50 {
    right: 50%!important;
}

.heart {
    color: #fc5353;
    vertical-align: middle !important;
}

.hero {
    background: rgba(233, 196, 148, 0.5);
}

.btn-main-category {
    background: rgba(0, 0, 0, 0.05) !important;
    color: white !important;
    transition: ease 0.3s !important;
    padding: 1rem !important;
}

.btn-main-category:hover {
    background: rgba(0,0,0,0.1) !important;
    color: black !important;
}

.splide__arrow--prev {
    left: -1.5rem !important;
}

.splide__arrow--next {
    right: -1.5rem !important;
}

.dropdown-menu {
    width: 250px !important;
}

.dropdown-item {
    transition: ease 0.15s !important;
    cursor: pointer !important;
}

.dropdown-toggle::after {
    content: none !important;
}

.stats-card {
    background: rgba(0,0,0,0.05);
}

.dashboard-menu a.list-group-item.active.list-group-item-action {
    background: none !important;
    color: initial !important;
    border: transparent 1px solid;
}

.dashboard-menu a.list-group-item.active.list-group-item-action::after {
    content: '';
    height: 50%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0.25rem;
    background-color: mediumseagreen;
}

.dashboard-menu a.list-group-item.list-group-item-action, .btn.btn-dashboard-menu {
    cursor: pointer;
    border: transparent 1px solid;
    padding: 0.5rem 1rem !important;
    display: block !important;
    width: 100%;
    text-align: left !important;
}

.dashboard-menu a.list-group-item.active.list-group-item-action .btn-dashboard-menu {
    padding: 0.5rem 1rem !important;
    display: block !important;
    width: 100%;
    text-align: left !important;
    background: rgba(144, 238, 144, 0.25) !important;
}

.viewRecipe-duration {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    text-align: center;
    padding: 0.5rem;
    width: 7.5rem;
    background: rgba(0,0,0,0.05);
    border-radius: 1rem;
    margin: 0.5rem;
}

.myRecipe-item {
    margin: auto;
    height: 12.5rem;
    width: 100%;
}

.myRecipe-item img {
    border-radius: 1rem;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
}

.dashboard-me-image {
    margin: auto;
    height: 10rem;
    width: 10rem;
}

.dashboard-me-image img {
    border-radius: 1rem;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}